/* Body */
body {
    /*max-width: 800px;*/
    background: whitesmoke;
    color: #808080;
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 80px;
    counter-reset: tableCount;
}

/* Jumbotron */
.jumbotron {
    background-color: deepskyblue;
    color: #ffffff;
    text-align: center;
    padding: 80px 80px 40px;
}

.jumbotron h2 {
    color: black;
}

.jumbotron a, .jumbotron a:visited {
    color: #ffffff
}

.jumbotron p {
    font-size: 15px;
    color: black;
}

a {
    color: #808080;
    text-decoration: none;
}

a:hover {
    color: #676767;
    text-decoration: none;
}

h1 {
    font-size: 26px;
    margin-top: 30px;
}

h2 {
    font-size: 20px;
    margin-top: 25px;
}

.controls button {
    margin: 20px 0;
}

.controls select, .controls input {
    margin-top: 20px;
}

button, select, input, textarea {
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

select:focus, input:focus, textarea:focus {
    border: 2px solid #808080;
}

.label-spacing {
    margin-top: 26px;
}

.form-control.add {
    display: inline;
    width: 50%;
    text-align: left;
}

select {
    width: 50%;
    text-align: center;
}

input[type="number"] {
    text-align: center;
    width: 25%;
}

.addRows {
    width: 50%;
}

.form-control-file {
    display: inline-block;
    width: 50%;
    align-content: center;
}

button {
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background: white;
    cursor: pointer;
}

nav .nav-item {
    padding-right: 10px;
}

button.nav-link {
    background: none;
    border: none;
    cursor: pointer;
    float: left;
    width: 100%;
}

.recipes {
    margin: 20px auto 0;
    text-align: left;
}

.recipes .row {
    background: white;
    border-top: 1px solid #f6ebe5;
    border-bottom: 1px solid #f6ebe5;
}

.recipes .row:first-child {
    border-radius: 8px 8px 0 0;
}

.recipes .row:last-child {
    border-radius: 0 0 8px 8px;
}

.recipe-detail {
    padding: 60px 0;
}

.recipe-detail img {
    width: 100%;
}

.recipe-detail .stuff {
    width: 100%;
    padding: 3px;
    color: white;
    background-color: red;
}

.recipe-detail .name {
    position: relative;
    top: -10px;
}

.recipe-detail .by {
    position: relative;
    top: -10px;
}

.recipe-detail .info {
    margin-bottom: 20px;
    padding: 6px;
    color: white;
    background-color: deepskyblue;
}

.recipe-detail .ingredient-direction h3 {
    width: 100%;
    padding: 3px;
    color: white;
    background-color: red;
}

.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
    color: white;
    background-color: deepskyblue;
}

.comment-title h3 {
    margin: auto auto 10px;
    width: 50%;
    padding: 3px;
    color: white;
    background-color: red;
}

.add-row {
    margin-bottom: 30px;
}

.addHover .hoverBlock {
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.addHover .hoverBlock a {
    margin-right: 12px;
}

.addHover .hoverBlock a:last-child {
    margin-right: 0;
}

.addHover:hover .hoverBlock {
    opacity: 1;
}

.flush-right {
    float: right;
}

.favorite-button-index {
    color: red;
    padding: 0;
    border: none white;
    background-color: transparent;
    width: 50px;
    height: 25px;
    float: right;
}

#favorite-button-detail {
    color: white;
    padding: 0;
    border: none white;
    background-color: transparent;
    width: 70px;
    height: 35px;
}

.delete-button {
    background: none !important;
    color: #808080;
    text-decoration: none;
    cursor: pointer;
}

.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover.favorite-button-index {
    border: none !important;
    outline: white !important;
    background: transparent;
}

/* comments */
.comments .title {
    border-bottom: 1px dotted #000000;
    margin-bottom: 20px;
}

.addcomment {
    margin-bottom: 20px;
}

.comment {
    margin-top: 20px;
}

.comment .body {
    margin: 0 0 5px 0;
    padding: 0px;
}

.comment-user {
    font-weight: bold;
}

.add-recipe .title {
    padding: 60px 60px 0px;
    background-color: deepskyblue;
    color: white;
    margin-bottom: 30px;
}

.detail-title .title {
    padding: 60px 60px 0px;
    background-color: deepskyblue;
    color: white;
}

.login-title, .signup-title .title {
    padding: 60px 60px 0px;
    background-color: deepskyblue;
    color: white;
    margin-bottom: 60px;
}

.addNewRecipe {
    width: 50%;
    padding: 3px;
    color: white;
    background-color: red;
    margin-bottom: 10px;
}

#cancelRecipe {
    color: white;
}

.form-group {
    margin-bottom: 30px;
}

#btnSave {
    width: 25%;
    vertical-align: top;
}

#btnCancel {
    width: 25%;
    vertical-align: top;
}

.row-profile {
    width: 50%;
    padding: 2px;
    color: white;
    background-color: red;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}

.signin, .signuptest {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.signin .checkbox {
    font-weight: 200;
}

.form-check-input {
    position: relative;
}

.form-check-label {
    position: relative;
}

.mb-4 {
    position: relative;
    bottom: -15px;
}

.form-control-file {
    display: inline-block;
    width: 20%;
}

.card {
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 0 6px 15px rgba(36, 37, 38, .08);
}

.sort {
    margin-bottom: 30px;
}

.detail-title {
    margin-bottom: 30px;
}

#search {
    text-align: center;
    cursor: pointer;
}

a[disabled], a[disabled]:hover {
    pointer-events: none;
    color: #e1e1e1;
}

.upvote {
    cursor: pointer ;
}