<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: nav"></nav>

<section>
    <div class="grid-container">
        <div th:replace="layout :: logo"></div>
        <div th:replace="layout :: flash"></div>
        <div th:object="${recipe}" class="grid-100">
            <div class="recipes">
                <div class="grid-100 row controls">
                    <div class="grid-50">
                        <h2 th:text="${recipe.name}"> Recipe Name </h2>
                    </div>
                    <div class="grid-50">
                        <form class="favorite-detail" th:action="@{|/recipes/${recipe.id}/favorite|}" method="post"
                              style="display:inline">
                            <button id="favorite-button-detail" class="flush-right"
                                    sec:authorize="hasRole('ROLE_USER')">
                                <img id="change-img"
                                     th:src="${recipe.userFavorites.contains(#authentication.name)} ? @{/assets/images/favorited.svg} : @{/assets/images/favorite.svg}"
                                     style="height: 12px;">
                            </button>
                        </form>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p>
                            <label> Photo </label>
                        </p>
                    </div>
                    <div class="grid-40" th:if="*{image} != null">
                        <p>
                            <img th:src="@{|/recipes/image/${recipe.id}|}" height="256" width="256"/>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p>
                            <label> Last Edited By </label>
                        </p>
                    </div>
                    <div class="grid-40">
                        <p th:text="${recipe.user.username}">
                            user1
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p>
                            <label> Name </label>
                        </p>
                    </div>
                    <div class="grid-40">
                        <p th:text="${recipe.name}">
                            Brioche French Toast with Nutella
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p>
                            <label> Description </label>
                        </p>
                    </div>
                    <div class="grid-40">
                        <p th:text="${recipe.description}">
                            Yummmy dessert toast covered in egg wash and topped with nutella and seasonal fruit.
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p>
                            <label> Category </label>
                        </p>
                    </div>
                    <div class="grid-30">
                        <p th:text="*{category.name}">
                            Dessert
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p>
                            <label> Prep Time </label>
                        </p>
                    </div>
                    <div class="grid-20">
                        <p><span th:text="${recipe.prepTime}">5</span> minutes </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p>
                            <label> Cook Time </label>
                        </p>
                    </div>
                    <div class="grid-20">
                        <p>
                            <span th:text="${recipe.cookTime}">15</span> minutes
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p>
                            <label> Ingredients </label>
                        </p>
                    </div>
                    <div class="grid-30">
                        <p>
                            <label> Item </label>
                        </p>
                    </div>
                    <div class="grid-30">
                        <p>
                            <label> Condition </label>
                        </p>
                    </div>
                    <div class="grid-20">
                        <p>
                            <label> Quantity </label>
                        </p>
                    </div>

                    <div th:each="ingredient : ${recipe.ingredients}" class="ingredient-row">
                        <div class="prefix-20 grid-30">
                            <p th:text="${ingredient.name}"> Eggs </p>
                        </div>
                        <div class="grid-30">
                            <p th:text="${ingredient.ingredientCondition}"> Fresh </p>
                        </div>
                        <div class="grid-10 suffix-10">
                            <p th:text="${ingredient.quantity}"> 2 </p>
                        </div>
                    </div>

                </div>
                <div class="clear"></div>  <!-- ingredients -->

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p><label> Steps </label></p>
                    </div>
                    <div class="grid-80">
                        <p><label> Description </label></p>
                    </div>
                    <div th:each="step : ${recipe.steps}" class="step-row">
                        <div class="prefix-20 grid-80">
                            <p th:text="${step.name}">
                                1. Crack your eggs and beat them.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>  <!-- steps -->

                <div class="row">&nbsp;</div>

            </div> <!-- recipes -->
        </div> <!-- grid-100 -->
    </div> <!-- grid-container -->

</section>
<div th:replace="layout :: scripts"></div>
</body>
</html>
