<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: nav"></nav>
<section>

    <div class="grid-container">
        <div th:replace="layout :: logo"></div>
        <div th:replace="layout :: flash"></div>
        <div class="grid-100">


            <div class="recipes">

                <div class="grid-100 row controls">
                    <div class="grid-30">
                        <select id="select-category">
                            <option th:each="category : ${categories}" th:value="${category}"
                                    th:text="${category.name}" th:selected="${category} == ${selectedCategory}">
                                Breakfast
                            </option>
                        </select>
                    </div>
                    <div class="grid-40">
                        <input id="search" placeholder="Search by Description or Ingredients"/>
                    </div>
                    <div class="grid-30">
                        <div class="flush-right">
                            <form th:action="@{/recipes/add}">
                                <button>+ Add Recipe</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row addHover" th:each="recipe : ${recipes}">
                    <a th:href="@{|/details/${recipe.id}|}">
                        <div class="grid-70">
                            <p>
                            <form class="favorite" th:action="@{|/recipes/${recipe.id}/favorite|}" method="post"
                                  style="display:inline" sec:authorize="hasRole('ROLE_USER')">
                                <button class="favorite-button-index" th:id="'favorite-button-index' + ${recipe.id}">
                                    <img th:src="${recipe.userFavorites.contains(#authentication.name)} ? @{/assets/images/favorited.svg} : @{/assets/images/favorite.svg}"
                                         style="height: 12px;">
                                </button>
                            </form>
                            <span th:text="${recipe.name}"> </span>

                            </p>
                        </div>
                    </a>
                    <div class="hoverBlock">

                        <div class="grid-30">
                            <div class="flush-right">
                                <form th:action="@{|/recipes/${recipe.id}/delete|}" method="post">
                                    <p>
                                        <a th:href="@{|/recipes/${recipe.id}/edit|}"> <img
                                                th:src="@{/assets/images/edit.svg}" height="12px"> Edit </a>
                                        <button class="delete-button" type="submit">
                                            <img th:src="@{/assets/images/delete.svg}" height="12px"> Delete </a>
                                        </button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="row">&nbsp;</div>

            </div> <!-- recipes -->
        </div> <!-- grid-100 -->
    </div> <!-- grid-container -->
</section>
<div th:replace="layout :: scripts"></div>
</body>
</html>
