<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: nav"></nav>

<section>
    <div class="grid-container">

        <div th:replace="layout :: logo"></div>
        <div th:replace="layout :: flash"></div>

        <div class="grid-100">
            <div class="recipes">
                <form th:object="${user}" th:action="@{/signup}" method="post" enctype="form-data"
                      modelAttribute="user">
                    <div class="prefix-20 grid-60 suffix-20"
                         th:classappend="${#fields.hasErrors('username')}? 'error' : ''">
                        <p>
                            <input id="username" type="text" th:field="*{username}" placeholder="Username"/>
                        <div class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name
                            error
                        </div>
                        </p>
                    </div>
                    <div class="clear"></div>
                    <div class="prefix-20 grid-60 suffix-20"
                         th:classappend="${#fields.hasErrors('password')}? 'error' : ''">
                        <p>
                            <input id="password" type="password" th:field="*{password}" placeholder="Password"/>
                        <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name
                            error
                        </div>
                        </p>
                    </div>
                    <div class="clear"></div>
                    <div class="prefix-20 grid-60 suffix-20"
                         th:classappend="${#fields.hasErrors('passwordConfirm')}? 'error' : ''">
                        <p>
                            <input id="confirm-password" type="password" th:field="*{passwordConfirm}"
                                   placeholder="Password again"/>
                        <div class="error-message" th:if="${#fields.hasErrors('passwordConfirm')}"
                             th:errors="*{passwordConfirm}">Name error
                        </div>
                        </p>
                    </div>
                    <div class="clear"></div>
                    <div class="prefix-20 grid-60 suffix-20">
                        <p>
                            <button id="sign-up" type="submit">Sign-up</button>
                        </p>
                    </div>
                    <div class="clear"></div>
                </form>
            </div> <!-- recipes -->
        </div> <!-- grid-100 -->
    </div> <!-- grid-container -->
</section>
</body>
</html>
