<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: nav"></nav>

<section>
    <div class="signup-title">
        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 justify-content-center">
                        <h3>Sign Up</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div th:replace="layout :: logo"></div>-->
    <div th:replace="layout :: flash"></div>


    <form class="signuptest" th:object="${user}" th:action="@{/signup}" method="post" enctype="form-data"
          modelAttribute="user">
        <div class="text-center mb-4">
            <img class="mb-4" th:src="@{/assets/images/chefbot.svg}" alt="" width="72" height="72">
        </div>
        <div class="row" th:if="${validationErrors}">
            <div class="col-md-3"></div>
            <div class="col-md-6">
            <span class="text-danger align-middle">
                <ul th:each="error : ${validationErrors}">
                    <li th:text="${error.getDefaultMessage()}"></li>
                </ul>
            </span>
            </div>
        </div>
        <div class="form-group">
        <p>
            <input class="form-control" id="firstName" type="text" th:field="*{firstName}" placeholder="First Name"/>
        <div class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name
            error
        </div>
        </p>
        </div>
        <div class="form-group">
        <p>
            <input class="form-control" id="lastName" type="text" th:field="*{lastName}" placeholder="Last Name"/>
        <div class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name
            error
        </div>
        </p>
        </div>
        <div class="form-group">
        <p>
            <input class="form-control" id="email" type="text" th:field="*{email}" placeholder="Email"/>
        <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name
            error
        </div>
        </p>
        </div>
        <div class="form-group">
        <p>
            <input class="form-control" id="username" type="text" th:field="*{username}" placeholder="Username"/>
        <div class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name
            error
        </div>
        </p>
        </div>
        <div class="form-group">
        <p>
            <input class="form-control" id="password" type="password" th:field="*{password}" placeholder="Password"/>
        <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name
            error
        </div>
        </p>
        </div>

        <div class="form-group">
        <p>
            <input class="form-control" id="confirm-password" type="password" th:field="*{passwordConfirm}"
                   placeholder="Password again"/>
        <div class="error-message" th:if="${#fields.hasErrors('passwordConfirm')}"
             th:errors="*{passwordConfirm}">Name error
        </div>
        </p>
        </div>
        <div>
            <p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
            </p>
        </div>
    </form>

</section>
</body>
</html>
